in html method for passing the data ie post and get.
in defult method is get
cascading style sheets
selector and declaration
*{
universal selector
}

text-align-last :center ; // last line center 
text-align : ;
text-decoration-line :overline underline;
text-decoration-color :;
text-decoration-style :;
text-decoration-thickness


fonts
-font-family  appeanrance of letters
font-style : italic;
table ,th ,td{
border-collapse:collapse;
}
button dropdown

